/* main css file*/
.page-header{
  margin-top: 0;
}
h1{
  margin-top: 5px;
  text-align:center;
}
#compass{
  position: relative;
  background-color: #3C3B3B;
  width: 100%;
}
#compass img{
  width: 100%;
  height: auto;
}
.compass-background, .compass-face, 
.compass-heading, .compass-top{
  position: absolute;
  top:0;
  left:0;
}

.compass-face{
  transform: rotate(0deg);
}

.compass-heading{
  transform: rotate(0deg);
}

.field{
  display:inline-block;
  border-bottom: 1px solid #F28F0E;
  margin: 0 5px;
  padding: 5px 5px 0 5px;
}
.btn-primary, .btn-primary:focus{
  background-color: #B97C3A;
  border-color: #B97C3A;
}